<h1><%= t("home.show.title") %></h1>
<p><%= t("home.show.subtitle") %></p>
<button><%= link_to "My Profile", profile_path, class: "link" %></button>
<%= button_to "Logout", sign_out_path(locale: I18n.locale), method: :delete, class: "btn link" %>
